@use 'sass:math';
@use 'sass:map';
@use 'sass:meta';
@use 'vuetify/lib/styles/tools/functions' as *;

$white: #fff !default;

$card-title-size: 1.8rem !default;
$body-font-size: 62.5% !default;
$body-font-family: 'Noto Sans Thai', sans-serif !default;
$border-radius-root: .7rem;
$btn-font-weight: 400 !default;
$btn-letter-spacing: 0 !default;

$box-shadow: rgba(145 158 171 / 30%) 0px 0px 2px 0px, rgba(145 158 171 / 12%) 0px 12px 24px -4px;

@forward 'vuetify/settings' with ($color-pack: false !default,
    // Global font size and border radius
    $font-size-root: $body-font-size,
    $border-radius-root: $border-radius-root,
    $body-font-family: $body-font-family,
    $heading-font-family: $body-font-family !default,
    $button-border-radius: $border-radius-root !default,
    $button-text-letter-spacing: 0 !default,
    $button-text-transform: capitalize,
    $button-elevation: ('default': 0,
        'hover': 4,
        'active': 8) !default,


    $tooltip-background-color: #212121 !default,
    $tooltip-text-color: rgb(var(--v-theme-on-primary)) !default,
    $tooltip-font-size: 0.75rem !default,
    $tooltip-border-radius: 4px !default,
    $tooltip-padding: 4px 8px !default,


    $rounded: (0: 0,
        'sm': $border-radius-root * 0.5,
        null: $border-radius-root,
        'md': $border-radius-root * 1,
        'lg': $border-radius-root * 2,
        'xl': $border-radius-root * 6,
        'pill': 9999px,
        'circle': 50%),

    $card-elevation: 10 !default,
    $card-title-line-height: 1.6 !default,
    $card-text-padding: 24px !default,
    $card-item-padding: 30px 30px 24px !default,
    $card-actions-padding: 10px 24px 24px !default,
    $card-subtitle-opacity: 1 !default,
);